 /* #2196F3 blue */ 
/* #212121 black */
/* #FFFFFF white */
/* #000000  black */
/* #AFB1B8 grey */
/*     font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif; */
html {
    box-sizing: border-box;
} 

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --accent-color: #2196F3;
    --dark-color: #212121;
    --main-color: #757575;
    --white-color: #ffffff;
}
body {
    margin: 0;
    color: var(--dark-color);
    background-color: var(--white-color);
}
a {
    text-decoration: none;
}
/*h1 {
    color: #837c7c;
    font-size: 44px;
}*/
h2,h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
    margin: 0;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin: 0;
}

/*для сброса точек перед списками*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* шапка сайта */
.logotype {
    text-decoration: none;
    font-weight: 700;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: var(--accent-color);      
}

.log {

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: var(--dark-color);   
}


.nav-links {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    
    color: var(--dark-color);       
}

.nav-links .link:hover,
.nav-links .link:focus {
    color:var(--accent-color);
}

.adr .adr-mail,
.adr .adr-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;   
    color: var(--main-color);        
}
.adr-mail:hover,
.adr-mail:focus {
    color:var(--accent-color);
}

.adr .adr-tel:hover,
.adr .adr-tel:focus {
    color: var(--accent-color);
}

.main-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    /*text-align: center;*/
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
    /*color: #FFFFFF*/
}

.order-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    /*display: flex;
    align-items: center;
    text-align: center;*/
    letter-spacing: 0.06em;
    color: var(--white-color);
    /*border: solid red;*/
    
}

.title-works {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /*text-align: center;*/
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    /*color: #FFFFFF;*/
}

.list-buttons {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;    
    /*width: 130px;*/ 
    border-radius: 4px;  
    /* identical to box height, or 162% */
    color: var(--dark-color);
    margin-bottom: 34px;
    /*text-align: center;*/
}

.list-buttons :hover {
    background: var(--accent-color);
    color: var(--white-color);
   /* display: inline-block;*/
    box-sizing: inherit;
    border-radius: 4px;
    
}

.follow {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    /*color: #FFFFFF;*/
}

.container {
   /* display: flex;*/
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;
}

.container-block {
    width: 1200px;
   /* height: 80px;*/
    margin-bottom: 200px;
}


.nav-links .menu {
    margin-right: 50px;
    /*align-items: center;*/
}

.log {
    margin-right: 85px;
    margin-left: 5px;
}/* портфолио */
.container-portfolio {
    margin-bottom: 94px;
}




/*.image {
    position: absolute;
}*/

/*.headphoto {
    background: url(./images/Header.jpg);
    text-align: center;
   /* position: absolute;
    margin-bottom: 94px;
    width: 1600px;
    height: 600px;
}*/

.content {
    text-align: center;
    min-width: 700px;
    /*height: 120px;*/
}

.main-content {
   /* display: inline-block;
    position: absolute;*/
   
    width: 696px;
    
    margin: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;   
    margin-top: 0px;
    /*text-align: center;*/
    
}

.order-button {   
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    border-radius: 4px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 226px;/* 200 от края картинки*/
    margin-left: auto;     
    min-width: 200px;
    
    background-color: var(--accent-color);
    text-decoration: none;
    /*text-align: center;*/   
}

.title-features {
   /* display: inline-block;*/
    padding: 0;
    width: 1200px;
    /*height: 251px;*/
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 94px;
    margin-left: auto;
    /*text-align: center;*/
}

.features {
    width: 270px;
    /*height: 251px;*/
    padding: 0;
    margin-left: auto;
    margin-right: auto;
   /* text-align: center;*/

}

.rubric {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--main-color);
}

/*.icon {
    display: inline-block;
    width: 70px;
    height: 70px;
}*/
.chapter {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}

.topic {
    padding: 0;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

/*.our-work {
    display: inline-block;
    min-width: 1200px;
    height: 386px;
    margin-bottom: 94px;
}*/
/* чем мы занимаемся */
.title-works {
    margin-bottom: 188px;
    padding: 0;
}

/* команда*/
.our-team {
    margin-bottom: 138px;
}
/* постоянные клиенты c*/
.costumer-list {
    margin-bottom: 94px;
}
.list-of-projects {
    margin-bottom: 94px;
}

/*.work {
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 374px;
    text-align: center;
}

.work-img {
    display: inline-block;
}
.section2 {
    display: inline-block;
    width: 1200px;
}*/




    
